<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//ETN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">	
<mapper namespace="org.zerock.mapper.BoardMapper">

	<select id="getlist" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select * from tbl_board where bno > 0
		]]>
	</select>
	
	<insert id="insert">
		insert into tbl_board(title,content,writer)
		values (#{title},#{content},#{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="content" order="BEFORE" resultType="String">
			select concat(date_format(sysdate(), '%Y%m%d'),'0000001')
		</selectKey>
		insert into tbl_board(title,content,writer)
		values (#{title},#{content},#{writer})
	</insert>
	
	
	<sql id="criteria">
		<trim prefix=" and(" suffix=")" prefixOverrides="or">
			<foreach item="type" collection="typeArr">
				<trim prefix ="or">
					<choose>
						<when test="type=='T'.toString()">
							(title like concat('%',#{keyword},'%'))
						</when>
						<when test="type=='C'.toString()">
							(content like concat('%',#{keyword},'%'))
						</when>
						<when test="type=='W'.toString()">
							(writer like concat('%',#{keyword},'%'))
						</when>						
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select bno, title, writer, regdate, updatedate, replyCnt 
			from(
					select @rownum:=@rownum+1 as rownum, b.*
					from (select @rownum:=0) as tmp, tbl_board b
					where 1=1
		]]>
		<include refid="criteria"></include>
		
		<![CDATA[	
					order by bno desc
				) boardList
			where rownum > (#{pageNum}-1)* #{amount} and rownum <= #{pageNum}*#{amount}
			order by rownum asc
		]]>
	</select>
	
	<select id="read" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select * from tbl_board where bno= #{bno}
		]]>
	</select>
	
	<delete id="delete">
		<![CDATA[
			delete from tbl_board where bno=#{bno}
		]]>
	</delete>
	
	<update id="update">
		<![CDATA[
			update tbl_board
			set title = #{title},
			    content = #{content},
			    updatedate = sysdate()
			where bno = #{bno}
		]]>
	</update>
	
	
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_board where bno > 0
		<include refid="criteria"></include>		 
	</select>
	
	<update id="updateReplyCnt">
		update tbl_board set replyCnt = replyCnt + #{amount} where bno= #{bno}
	</update>


</mapper>